table{
    width: 100%;
    border-collapse: collapse;

}
td, th{
    border: solid 1px #ddd;
    padding: 5px;
    text-align: center;
}
.btn{
    text-decoration: none;
    background-color: dodgerblue;
    padding: 10px;
    box-shadow: 1px 1px 9px 2px gray;
    display: inline-block;
    margin: 2px;
    color: white;
    border: none;
}