<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Talaba</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Bosh sahifa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/talaba"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Talabalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guruh"><i class="fa fa-users" aria-hidden="true"></i> Guruhlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/yunalish"><i class="fa fa-align-justify" aria-hidden="true"></i> Yo`nalishlar</a>
            </li>


        </ul>

    </div>




   
</nav>


